@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Учетная запись заблокирована";
}

<hgroup class="title">
    <h1 class="error">@Page.Title.</h1>
    <h2 class="error">Ваша учетная запись была заблокирована, поскольку предпринято слишком много неудачных попыток входа.</h2>
</hgroup>

<p>
    Учетная запись будет автоматически разблокирована через 60 секунд. 
    Повторите попытку позднее.
</p>