@{
    // Задание страницы макета и заголовка страницы
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Благодарим за регистрацию";
}

@if (!WebSecurity.IsAuthenticated) {
    <hgroup class="title">
        <h1>@Page.Title.</h1>
        <h2>Учетная запись еще не активирована.</h2>
    </hgroup>

    <p>
       По указанному адресу отправлено письмо с инструкциями по активации учетной записи.
    </p>
} else {
    <hgroup class="title">
        <h1>@Page.Title.</h1>
        <h2>Учетная запись активирована.</h2>
    </hgroup>

    <p>
        По-видимому, ваша учетная запись уже подтверждена.
    </p>
}